@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;;
}

  .wrapper{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
  }

  /*lontong balap*/
  .slide1 { 
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .foodimg img{
    position: absolute;
width: 362px;
height: 225px;
left: 38px;
top: 113px;
  }
  .slide1 svg{
    width: 420px;
    height: 750px;
    margin-top: -300px;
    background-color: #F1D16C;
    border-radius: 308px;
    display: flex;
  }
  .judul h2 #l {
    position: absolute;
    width: 174px;
    height: 65px;
    left: 362px;
    top: 60px;
    font-size: 48px;
    line-height: 65px;
  }
  .judul h2 #b {
    position: absolute;
    width: 347px;
    height: 98px;
    left: 360px;
    top: 100px;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.25em;
  }

  .judul h2 #harga{
    position: absolute;
    width: 129px;
    height: 105px;
    left: 464px;
    top: 200px;
    font-size: 72px;
    line-height: 98px;
  }

  .rating img{
    position: absolute;
    width: 270px;
    height: 50px;
    left: 510px;
    top: 313px;
  }

  .qty img{
    position: absolute;
    size: 90px;
    width: 215px;
    height: 39px;
    left: 631px;
    top: 230px;
  }

  .iconbeli #wl{
    position: absolute;
    width: 382px;
    height: 46px;
    left: 464px;
    top: 400px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .iconbeli #wl p{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    justify-content: center;
    padding-left: 16%;
    padding-top: 5px;
  }

  .iconbeli #bl{
    position: absolute;
    width: 382px;
    height: 46px;
    left: 464px;
    top: 470px;
    background: #FFC700;
    border-radius: 20px;
  }

  .iconbeli #bl p{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    justify-content: center;
    padding-left: 14%;
    padding-top: 5px;
    color: white;
  }

  .toping img{
    position: absolute;
width: 427px;
height: 80px;
left: 886px;
top: 70px;
  }
  .desc p{
    position: absolute;
width: 350px;
height: 112px;
left: 920px;
top: 365px
  }
  .slide2 {
    background: #a3f3d3;
  }
  .slide3 {
    background: #0bbaa0;
  }
  .slide4 {
    background: #00dfdf;
  }
  .slide5 {
    background: blueviolet;
  }
  .slide6 {
    background: #a3f3d3;
  }
  .slide7 {
    background: #0bbaa0;
  }
  .slide8 {
    background: #00dfdf;
  }
  .slide9 {
    background: #00dfdf;
  }