@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
}

/* HEADER */
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-size: 48px;
    text-decoration: none;
    color: #000000;
}

header .logo span {
    color: #ff0000;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    margin-left: 40px;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(160, 160, 160);
    color: #fff;
    border-radius: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 760px;
}

.content .textBox h2 {
    color: #000;
    font-size: 40px;
    line-height: 1.4em;
    font-weight: bold;
}

.content .textBox h2 .n {
    color: #000;
    font-size: 48px;
    font-weight: normal;
}

.content .textBox h2 .d {
    color: #ff0000;
    font-size: 48px;
    font-weight: normal;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #E57455;
    color: #fff;
    border-radius: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 300px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-70%, +10%);
    display: flex;
    min-height: 100px;
}

.thumb li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 20px;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.sci {
    position: absolute;
    bottom: 0;
    right: 0;
    list-style: none;
    background: #ffffff;
    padding: 20px 20px 0 20px;
    border-radius: 34px 0px 0px 0px;
    line-height: 57px;
}

.sci li a:hover {
    display: inline-block;
    transform:scale(0.9)
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E57455;
    clip-path: circle(500px at right 700px);
}

/* SPLIT SCREEN */
.split1 {
    display: flex;
    height: 100vh;
    align-items: center;
}

.img1 {
    background: linear-gradient(180deg, #5FB4E3 13.54%, rgba(72, 214, 163, 0.5) 100%);
    width: 100%;
    display: inline-block;
    clip-path: polygon(0 0, 100% 0%, calc(100% - 64px) 100%, 0% 100%);
}


.section .disp #gradientbg img {
    padding: 70px;
    width: 500px;
    height: 700px;

.split2 {
    display: flex;
    height: 100vh;
    flex-direction: row-reverse;
    align-items: center;
}

.img2 {
    background: linear-gradient(180deg, #FBEF86 0%, rgba(51, 255, 0, 0.35) 100%);
    width: 100%;
    display: inline-block;
    clip-path: polygon(64px 0, 100% 0%, 100% 100%, 0 100%);
}
  
.right {
    padding: 50px;
    width: 720px;
}

.right h2 {
    padding: 10px;
    font-weight: bold;
    font-size: 2.5vw;
    text-align: center;
}

.section .disp .textBox p {
    font-size: 20px;
    font-weight: 400;
    word-break: break-all;

.right p {
    padding: 10px;
    font-size: 1.6vw;
    font-weight: 400;
}
  
.centered {
    text-align: center;
    min-width: 50%;
    height: 100vh;
    display: grid;
    place-items: center;
}
  
.centered img {
    width: 270px;
}

.split2 .button {
    background-color: #F8A141;
    padding: 15px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
}

/* Yang Lagi Populer */
.sectionmenu{
    height: 100vh;
    text-align: center;
    position: relative;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    padding: 50px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 250px;
    border-radius: 15px;
}
.card .textBox h2 {
    padding: 10px;
}

.sectionmenu .button {
    font-size: 20px;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%, +150%);
}

/* BAR PROMO */
.sectionpromo {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sectionpromo .divide {
    height: 33.3%;
    display: grid;
    grid-auto-flow: column;
    padding: 10px 100px;
}

.sectionpromo .bar1 {
    background-color: rgba(255, 143, 143, 1);
}
.sectionpromo .bar1 .one {
    font-style: oblique;
    font-weight: 900;
    padding: 40px 0;
}
.sectionpromo .bar1 .two h1 {
    font-style: oblique;
    font-weight: 900;
    padding: 40px 0;
}
.sectionpromo .bar1 .two a {
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(31, 61, 4, 1);
    color: rgba(255, 143, 143, 1);
    text-decoration: none;
}
.sectionpromo .bar2 {
    background-color: rgba(255, 215, 75, 1);
}
.sectionpromo .bar3 {
    background-color: rgba(219, 255, 143, 1);
}

/* FOOTER */
footer {
    background: #d0d0d0;
}
footer .content {
    display: flex;
    justify-content: space-evenly;
}

