@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.section {
    width: 100%;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-size: 48px;
    text-decoration: none;
    color: #000000;
}

header .logo span {
    color: #ff0000;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    margin-left: 40px;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(160, 160, 160);
    color: #fff;
    border-radius: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #000;
    font-size: 40px;
    line-height: 1.4em;
    font-weight: bold;
}

.content .textBox h2 .n {
    color: #000;
    font-size: 48px;
    font-weight: normal;
}

.content .textBox h2 .d {
    color: #ff0000;
    font-size: 48px;
    font-weight: normal;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #E57455;
    color: #fff;
    border-radius: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 400px;
    max-height: 300px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-70%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 20px;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.sci {
    position: absolute;
    bottom: 0;
    right: 0;
    list-style: none;
    background: #ffffff;
    padding: 20px 20px 0 20px;
    border-radius: 34px 0px 0px 0px;
    line-height: 57px;
}

.sci li a:hover {
    display: inline-block;
    transform:scale(0.9)
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E57455;
    clip-path: circle(500px at right 700px);
}

.section .disp {
    display: flex;
}

.section .disp #gradientbg {
    height: 720px;
    width: 50%;
    background: linear-gradient(180deg, #5FB4E3 13.54%, rgba(72, 214, 163, 0.5) 100%);
}

.section .disp #gradientbg img {
    padding: 50px;
    width: 500px;
    height: 700px;
}

.section .disp .textBox {
    padding: 50px;
    width: 720px;
}

.section .disp .textBox h2 {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.section .disp .textBox p {
    font-size: 20px;
    font-weight: 400;
    word-break: break-all;
}
