@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;;
}

.slide {
    min-width: 100vw;
    height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
}
.bg-image {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url(img/rendang.webp) center center no-repeat;
    background-size: cover;
    height: 25%;
}
.bg-image h1 {
    height: 100%;
    display: grid;
    place-items: center;
}
.two {
    background: #a3f3d3;
}
.three {
    background: #0bbaa0;
}
.four {
    background: #00dfdf;
}
.wrapper {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    position: absolute;
}
.outer-wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display:none;
}